<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soccer Stars</title>
</head>
<body background="assets/images/pexels-sergio-souza-2291006.jpg">
  
  <div id="header">
    <div id="headerContent">
        SOCCER STARS!
    </div>
</div>
<app-player></app-player>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>